.sec3{
    width: 100%;
    height: 110px;
    background-color:rgba(241, 142, 11, 0.915);
    overflow: hidden;
    margin-top: 60px;

}
.sec3-content1{
    width: 70%;
    height: 40px;
    margin: auto;
    padding-top: 10px;


}
.sec3-content1 span{
   font-size: 25px;
   color: whitesmoke;
  
  
}
.sec3-content2{
    width: 70%;
    height: 46px;
    margin: auto;
    overflow: hidden;
   

}
.sec3-content2 span{
    font-size: 13px;
    color: whitesmoke;
 
 }