/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.box-sinup{
 width: 80%;
 height: 90vh;
 position: relative;
 z-index: 0;
 display: flex;
 justify-content: center;
 margin: auto;
 border: 1.3px solid rgba(13, 34, 166, 0.635);
 border-radius: 20px;
 outline: none;
 margin-bottom: 40px;
 margin-top: 100px;


}
.from-box-1{
  width: 40%;
  background-image: url(../public/images/online-loginimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: -30px;
 
}
.from-box-2{
  width: 40%;
  text-align: center;
}
.register{
margin-top: 60px;
margin-bottom: 60px;
color: cadetblue;
}
.inputbox{
  height: 20px;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
  border: 1.6px solid rgba(81, 87, 174, 0.644);


}
.buttonsignup{
  height: 40px;
  width: 50%;
  border-radius: 10px;
  border: 1.6px solid #0000ff07;
  background-color: #0000ffa0;
  color: antiquewhite;


}
.login{
  width: 80%;
 height: 90vh;
 position: relative;
 z-index: 0;
 display: flex;
 justify-content: center;
 margin: auto;
 border: 1.3px solid rgba(0, 0, 0, 0.635);
 border-radius: 20px;
 outline: none;
 margin-bottom: 40px;
 margin-top: 100px;

}
.update{
  width: 80%;
 height: 100vh;
 position: relative;
 z-index: 0;
 display: flex;
 justify-content: center;
 margin: auto;
 border: 1.3px solid rgba(0, 0, 0, 0.635);
 border-radius: 20px;
 outline: none;
 margin-bottom: 40px;

}
.login-box-1{
  width: 40%;
  background-image: url(../public/images/login-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: -30px;
 

}
.login-box-2{
  width: 40%;
  text-align: center;
 

}
.inputbox-1{
  height: 20px;
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 1.6px solid rgba(10, 10, 214, 0.539);


}
.buttonsignup-1{
  height: 40px;
  width: 50%;
  border-radius: 10px;
  border: 1.6px solid #0505e2b3;
  background-color: #0becece1;
  color: rgb(249, 247, 244);


}
#ab{
  font-size: 15px;
  margin-right: -10px;
  position: absolute;
}
.article-box-1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.product_list{
}
.icons{
  height: 30px;
  width: 50px;
  display: flex;
  margin-left:85%;
  margin-top: -20px;
  margin-bottom: 10px;
}
.edit{
  font-size: 20px;
  color:#00008b;
  margin-left: -200%;
  margin-top: -15px;
}
.deletebtn{
  font-size: 20px;
  color:#d80000;
  margin-left: -40%;
  margin-top: -3px;
  display: block;
  
}
.searchblog{
  position: absolute;
  left: 42%;
  top: 300px;
  height: 40px;
  width: 200px;
  border-radius: 50px;
  outline: none;
  padding-left: 20px;
  border: 1px solid rgb(137, 33, 33);
  
}
#signin-input-link{
  position: absolute;
  top: 30px;
  left: 55%;
}
#login-input-link{
  position: absolute;
  top: 30px;
  left: 70%;
}

@media (min-width: 320px) and (max-width: 480px) {
  #ab{
    font-size: 15px;
    margin-right: -10px;
    position: absolute;
    top: 313px;
    margin-left: 36%;
    font-size: 19px;


  }
  #signin-input-link{
    position: absolute;
    top: 100px;
    left: 10%;
  }
  #login-input-link{
    position: absolute;
    top: 100px;
    left: 50%;
  }
  .box-sinup{
    width: 90%;
    height: 100vh;
    position: absolute;
    top: 170px;
    z-index: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    border: 1.3px solid rgba(222, 204, 5, 0.784);
    border-radius: 20px;
    outline: none;
    margin-bottom: 40px;
    left: 5%;
   
   
   }
   .from-box-1{
    display: none;
     width: 40%;
     background-image: url(../public/images/online-loginimg.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     margin-top: -30px;
    
   }
   .from-box-2{
     width: 1000%;
     text-align: center;
   }
   .register{
   margin-top: 25px;
   margin-bottom: 60px;
   }
   .inputbox{
     height: 20px;
     width: 70%;
     margin: auto;
     margin-bottom: 30px;
     padding: 10px;
     border-radius: 10px;
     border: 1.6px solid rgba(81, 87, 174, 0.644);
    
   
   
   }
   .buttonsignup{
     height: 40px;
     width: 50%;
     border-radius: 10px;
     border: 1.6px solid #0000ff07;
     background-color: #0000ffa0;
     color: antiquewhite;
     margin-bottom: 100px;
   }   
  .login{
    width: 90%;
   height: 90vh;
   position: absolute;
   top: 170px;
   z-index: 0;
   display: flex;
   justify-content: center;
   margin: auto;
   border: 1.3px solid rgba(0, 0, 0, 0.635);
   border-radius: 20px;
   outline: none;
   margin-bottom: 70px;
   margin-left: 5%;
  
  }
  .login-box-1{
    width: 40%;
    background-image: url(../public/images/login-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: -30px;
    display: none;
   
  
  }
  .login-box-2{
    width: 100%;
    text-align: center;
   
  
  }
  .inputbox-1{
    height: 20px;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 1.6px solid rgba(13, 13, 16, 0.644);
  
  
  }
  .buttonsignup-1{
    height: 40px;
    width: 50%;
    border-radius: 10px;
    border: 1.6px solid #03b4bda3;
    background-color: #e10c0cef;
    color: rgb(249, 247, 244);
    margin-bottom: 100px;
  
  
  }
  .searchblog{
    position: relative;
    left: 40%;
    top: -115px;
    height: 40px;
    width: 40%;
    border-radius: 10px;
    outline: none;
    padding-left: 20px;
    border: 1px solid rgb(137, 33, 33);
    
  }
  .update{
    margin-top: 50px;
  }

  
  
}

  
