* {
  margin: 0;
  padding: 0;
}
.burger {
    width: 35px;
    height: 25px;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 85%;
    visibility: hidden;

    
}
.burger-1 {
  width: 25px;
  height: 0px;
  border: 2px solid #a3a1a1;
  opacity: 1;
  background-color: #a3a1a1 ;
  margin: auto;
  margin-bottom: 3px;
  border-radius: 5px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .burger {
    width: 35px;
    height: 25px;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 85%;
    visibility: visible;

    
}


}